{% extends 'base.html.twig' %}

{% block title %}Task show{% endblock %}
 
 {% block stylesheets %} 
 {{ parent() }}
 {% endblock %}



{% block body %}  
<div class="container">
<div class="row">
<div class="col-6">
    <h1 class="text-center">Liste des taches en cours</h1>
</div>   
<div class="col-6 d-flex justify-content-end"> 
   <a href="{{ path('task_add') }}"><img src="{{ asset('build/images/addition-sign.png') }}"></a> 
</div>  
</div>    
    
        {% block notice %}
          
                {{ parent() }}
            
        {% endblock %}    
    
     
    <div class="row grid">
        {% for taskee in tasks %}
        <div id="task_id_{{taskee.id}}" class="grid-item col-4 mt-5 contain-task">
        <p class="controller-task update" onclick="ajax_request.open_form_task({{taskee.id}})"><img  src="{{ asset('build/images/refresh-button.png') }}"></p>
        <p class="controller-task delete" onclick="ajax_request.ajax_delete_task({{taskee.id}})"><img  src="{{ asset('build/images/close.png') }}"></p>
        <div class="col-12 task d-flex flex-column align-items-center">
            <h2 id="taskeName_container_{{taskee.id}}" class="text-center">{{ taskee.task }}</h2>
            <span id="taskeDueDate_container_{{taskee.id}}">{{ taskee.duedate.date }}</span>
        </div> 
        
        <div id="form_update_{{taskee.id}}" class="col-12 form_update">
        <input type="text" id="taskName_{{taskee.id}}" name="task[task]_{{taskee.id}}" required="required" maxlenght="20" class="listTask" placeholder="Nom de la tache">
        <input type="date" id="taskDueDate_{{taskee.id}}" name="task[dueDate]_{{taskee.id}}" required="required" value="2019-01-30">
        <button type="submit" id="task_update_btn_{{taskee.id}}" name="task[save]_{{taskee.id}}" onclick="ajax_request.ajax_update_task({{taskee.id}})">Update Task</button>
        </div>
        </div>
        {% endfor %} 

    </div>
</div>




{% endblock %}
{% block javascripts %}
    {{ parent() }}
   
    {% endblock %}

